<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Redirecionando...</title>
    <meta http-equiv="refresh" content="0.5;url={{ url_for('resumo') }}">
    <style>
        body {
            background-color: #e0ebf8;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <h2>Carregando página de resumo...</h2>
</body>
</html>
